<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags always come first -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css">
<title>Pags and Jokers - Games</title>
</head>
<body>
<div class="container">
<div class="row">
<div class="col">
<table class="table table-bordered">
	<thead>
	<tr>
		<th scope="col">GameID</th>
		<th scope="col">Status</th>
	</tr>
	</thead>
	<tbody>
	<th:block th:each="game : ${games}">
	<tr>
		<td th:text="${game.id}">placeholder game id</td>
		<td th:text="${game.status}">placeholder game status</td>
		<td> <a th:href="@{/mvc/game/{id}(id=${game.id})}">View the Game</a> </td>
		<th:block th:each="player : ${game.players}">
			<td> <a th:href="@{/mvc/game/{id}/playerView/{number}(id=${game.id},number=${player.number})}" th:text="'Player '+${player.number}+' View'">Player View</a> </td>
		</th:block>
	</tr>
	</th:block>
	</tbody>
</table>
 </div>
 </div>
 <div class="row">
 <div class="col">
 <p/>
 <h3>Start A New Game</h3>        	
 
 <form action="#" th:action="@{/mvc/newGame}" th:object="${gameRequest}" method="post">
		<label th:text="'How many player?'">number of players</label>
			<select th:field="*{numberOfPlayers}">
    			<option th:each="i : ${#numbers.sequence(2, 8)}" th:value="${i}" th:text="${i}">
   			 	</option>
			</select>
         <input type="submit" value="Submit" /> 
       
 </form>
 </div>
 </div>
 </div>
	<!-- jQuery first, then Bootstrap JS. All Inclusive Plug-in -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
  
</body>
</html>