<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<title>Pegs And Jokers - Game Events</title>
</head>
<body>
    
<h1>Game Events</h1>
<table class="table table-bordered table-sm">
	<thead>
	<tr>
		<th scope="col">GameID</th>
		<th scope="col">Event Timestamp</th>
		<th scope="col">Event Details</th>
	</tr>
	</thead>
	<tbody>
	<th:block th:each="event : ${gameEvents}">
	<tr>
		<td th:text="${event.gameId}">placeholder game id</td>
		<td th:text="${event.timeStamp}">placeholder event timestamp</td>
		<td th:text="${event.details}">placeholder event details</td>
	</tr>
	</th:block>
	</tbody>
</table>

   <!-- jQuery first, then Bootstrap JS. All Inclusive Plug-in -->
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
   
</body>
</html>