<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pegs and Jokers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    
<h1>Games</h1>

<table>
	<tr>
		<th>GameID</th>
		<th>Status</th>
	</tr>
	<th:block th:each="game : ${games}">
	<tr>
		<td th:text="${game.id}">placeholder game id</td>
		<td th:text="${game.status}">placeholder game status</td>
		<td> <a th:href="@{/mvc/game/{id}(id=${game.id})}">View the Game</a> </td>
		<th:block th:each="player : ${game.players}">
			<td> <a th:href="@{/mvc/game/{id}/playerView/{number}(id=${game.id},number=${player.number})}" th:text="'Player '+${player.number}+' View'">Player View</a> </td>
		</th:block>
	</tr>
	</th:block>
</table>
 
 <h2>Start A New Game</h2>        	
 
 <form action="#" th:action="@{/mvc/newGame}" th:object="${gameRequest}" method="post">
		<br/><label th:text="'How many player?'">number of players</label>
			<select th:field="*{numberOfPlayers}">
    			<option th:each="i : ${#numbers.sequence(2, 8)}" th:value="${i}" th:text="${i}">
   			 	</option>
			</select>
         <input type="submit" value="Submit" /> 
       
 </form>
 
  
</body>
</html>