<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pegs and Jokers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div> 
<h1>Player View </h1>
Player color is: <span th:text="${playerView.playerColor}">player color</span><br/>
Player message: <span th:text="${playerView.playerMessage}">current player's name</span>

<p>Player Hand</p>

<table>
	<tr th:each="card : ${playerView.playerHand.cards}">
		<th th:text="${card.name}">Card Name</th>
	</tr>
</table>

 </div>      
</body>
</html>